<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">FroshTemplateMail</label>
    <label lang="en">FroshTemplateMail</label>
    <version>1.0.1</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://github.com/FriendsOfShopware/FroshTemplateMail/</link>
    <author>Friends of Shopware</author>
    <description>
        <![CDATA[
            Store emails in theme and allow translations using snippets
        ]]>
    </description>
    <description lang="de">
        Speichere Email Templates in Theme und erlaube Übersetzungen via Textbausteine
    </description>
    <compatibility minVersion="5.4.0"/>

    <changelog version="1.0.0">
        <changes lang="de">Initiales Release</changes>
        <changes lang="en">Initial release</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Erster Release im Community Store</changes>
        <changes lang="en">First Release in Community Store</changes>
    </changelog>
</plugin>
